
<%= form_tag("/check_in/check_in_visitor") do %>
<div>

  <h1>1. Select a Site</h1>

  <table>
    <tbody>
    <% @sites.each do |site| %>
        <tr>
          <td><%= radio_button_tag(:selected_site, site.id) %></td>
          <td><%= site.name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div>
  <h1>2. Enter Visitor's Email Address</h1>

  <%= email_field_tag("email") %>

</div>

<div>
  <h1>3. Check In!</h1>

  <%= submit_tag("Check in visitor") %>
</div>

<% end %> <!-- END form tag -->
