<h1>Site Members</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nick name</th>
      <th>User</th>
      <th>Role</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_members.each do |site_member| %>
      <tr>
        <td class="capitalize"><%= site_member.nick_name %></td>
        <td><%= site_member.user.email %></td>
        <td class="capitalize"><%= site_member.role %></td>
        <td class="capitalize"><%= site_member.status %></td>
        <td><%= link_to 'Show', site_member %></td>
        <td><%= link_to 'Edit', edit_site_member_path(site_member) %></td>
        <td><%= link_to 'Destroy', site_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site Member', new_site_member_path %>
