<h1>Sites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Present</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_members.each do |site_member| %>
      <tr>
        <td><%= site_member.site.name %></td>
        <td class="capitalize"><%= site_member.role %></td>
        <td class="capitalize"><%= site_member.status == "present" ? "yes" : "" %></td>
        <td><%= link_to 'Show', site_member.site %></td>
        <td><%= link_to 'Edit', edit_site_path(site_member.site) %></td>
        <td><%= link_to 'Destroy', site_member.site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>
