<!DOCTYPE html>
<html>
<head>
  <title>MaintainIt</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <%= link_to('Maintain It!', root_path, { :class => "navbar-brand" }) %>
        <%= link_to('New Chore', new_chore_path) %>  |
        <%= link_to('Sites', sites_path) %>  |
        <%= link_to('Site Members', site_members_path) %>  |
        <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %> |
            <%= link_to('Check in a Visitor', check_in_start_visitor_path) %> |
            <%= current_user.email %>
        <% else %>
            <%= link_to('Login', new_user_session_path) %>
        <% end %>
      </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</div>
</body>
</html>
